[program:chatbot]
stopwaitsecs = 1
user = root
group = root
directory = /opt/ahavision
numprocs=1
command = /opt/ahavision/chatbot --configFile={{ configFile }}
process_name = %(program_name)s_%(process_num)d
autostart = true
autorestart = true
redirect_stderr = true
stdout_logfile = /var/log/ahavision/supervisor_%(program_name)s_%(process_num)d.log

[group:ahavision]
programs=chatbot
