debug: true
noninteractive: true
autosave: false
tmpdir: /tmp/
auto_load_ids: false
oauth:
  applicationid: {{ OAUTH_APPLICATION_ID }}
  applicationsecret: {{ OAUTH_APPLICATION_SECRET }}
  access_token: {{ OAUTH_TOKEN }}
metrika:
  counter_ids:
  - "dummy"
appmetrika:
  application_ids:
  - "dummy"
zookeper:
  hosts: []
clickhouse:
  hosts:
   - localhost:9000
  http_port: "8123"
  clustername: ahavision_chatbot
  database: ahavision_chatbot
  username: default
  password: "{{ CLICKHOUSE_PASSWORD }}"
  droptable: false
  blocksize: 100000
  read_timeout: 3600
  write_timeout: 3600
chatbot:
  listen: "0.0.0.0:80"
  db_dsn: "{{ CHATBOT_DB_DSN }}"
  cron_dir: /etc/cron.d
  base_url: http://chatbot.ahavision.com/anomalies
  localization_dir: "./locales"
  anomalies_dir: "/opt/ahavision/anomalies"
  recast_request_token: {{ RECAST_REQUEST_TOKEN }}
  recast_developer_token: {{ RECAST_DEVELOPER_TOKEN }}
  cron_metrika2clickhouse_template: '0 3 * * * root bash -e -c "cd /opt/ahavision/ && ./metrika2clickhouse %s" &>>/var/log/ahavision/metrika2clickhouse_cron.log'
  cron_anomalyzer_template: '0 4 * * * root bash -e -c "cd /opt/ahavision/ && ./anomalyzer %s" &>>/var/log/ahavision/anomalyzer_cron.log'
